<div id="demo" class="container">
  <div class="py-3 text-center">
    <img src="" alt="" class="d-block mx-auto mb-2" />
    <h5>Angular Formly Bootstrap</h5>
  </div>

  <!-- <div class="row">
    <div class="col-md-4 mb-4">
      <form [formGroup]="form">
        <formly-form [form]="form" [model]="model" [fields]="fields">
        </formly-form>
        <button
          class="btn btn-primary"
          type="submit"
          printSectionId="demo"
          ngxPrint="print"
        >
          Sumbit
        </button>
        <button class="btn btn-danger" type="reset">Reset</button>
      </form>
    </div>
  </div> -->
  <div id="demo">
    <h2>Company Info Table</h2>

    <table>
      <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
      </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
      </tr>
      <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>
        <td>UK</td>
      </tr>
      <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>
        <td>Canada</td>
      </tr>
      <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>
        <td>Italy</td>
      </tr>
    </table>
  </div>
</div>
